html, body {
  height: 100%;
  margin: 0;
}
#board {
  height: 100%;
  width: 100%;
}
#board > .row {
  margin: 0;
  padding: 0;
  height: 0.5em;
}
#board > .row > .cell {
  width: 0.5em;
  height: 0.5em;
  border: 1px solid #ddd;
  display: inline-block;
  margin: 0;
  padding: 0;
}
