html, body {
  height: 100%;
  margin: 0;
}
#board {
  height: 100%;
  overflow: auto;
}
#board > .row {
  margin: 0;
  padding: 0;
  height: 1em;
}
#board > .row > .cell {
  width: 1em;
  height: 1em;
  border: 1px solid #ddd;
  display: inline-block;
  margin: 0;
  padding: 0;
}
